@import "src/styles.scss";

.contact-detail {
  background-color: #fff;
  width: 100%;
  height: 100%;
  @include flex(column, center, center);

  &__info {
    @include flex(column, flex-start, center);
    &_data {
      font-size: 20px;
      &_header {
        font-weight: 500;
      }
    }
  }

  &__buttons-container {
    padding: 5% 0;
  }
}

.border {
  width: 500px;
  height: 60%;
  padding: 6%;
  background-color: #0056b3;
  color: #fff;
}
